/* Global Layout Set-up */
* { 
    box-sizing: border-box;
  }
    
  body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #f7f5f0;
  }
  /* Link Styles */

a {
    text-decoration: none;
    color: #999;
  }
  a:hover {
    color: #6633ff;
  }
  /* Section Styles */

.main-nav {
    width: 100%;
    background: rgb(44, 44, 44);
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  
  .nav .name {
      display: block;
      margin-right: auto;
      color: white;
  }
  .nav li {
    padding: 5px 10px 10px 10px;
  }
  .nav a {
    transition: all .5s;
  }
  .nav a:hover {
    color: white
  }
  header .profile-image {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid rgb(58, 57, 57);
    transition: all .5s;
  }

  .card {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    transition: all .5s;
  }
  .card {         /*my additional class name -for card*/
    margin-left: 35%;      
    margin-right: 35%;
    width: auto;
}
a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.social{
  
}
a.twitter {
  background-image: url(../images/twitter.svg);
}
a.linkedin {
  background-image: url(../images/linkedin.svg);
}
a.github {
  background-image: url(../images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}
footer {
  font-size: 1.3em;
  max-width: 1200px;
  margin: 40px auto;
}
.card {
  background-color: rgba(74, 75, 77, 0.2);
}
footer ul{
  padding-left: 0;
  list-style-type: none;
}

footer li{
  display: inline-block;
}